/* Fondo y estilos generales */
.fondo {
  background-color: rgba(245, 245, 245, 0.486);
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Estilos para los encabezados usando clases de Bootstrap */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

/* Animación para los encabezados */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

h1, h2, h3 {
  animation: fadeIn 1.5s ease-in-out 0.5s both;
}

/* Estilos para los enlaces usando clases de Bootstrap */
a {
  color: skyblue;
  text-decoration: none;
}

/* Animación para los enlaces */
@keyframes linkAnimation {
  from {
      color: skyblue;
  }
  to {
      color: orangered;
  }
}

a {
  animation: linkAnimation 1.5s ease-in-out infinite;
}

/* Estilos para las imágenes usando clases de Bootstrap */
img {
  max-width: 100%;
  height: auto;
  border: 2px solid burlywood;
}



  
  input[type="submit"]:hover {
    background-color: orangered;
  }
